<h1>東京の天気</h1>
<p><%= @weather_date.weather_status %></p>
<p><%= image_tag "#{ @weather_date.weather_icon }" %></p>
<p><%= "降水確率#{ @weather_date.rain_fallchance }%" %></p>
<p><%= "最高気温#{ @weather_date.temp_max }℃" %></p>
<p><%= "最低気温#{ @weather_date.temp_min }℃" %></p>
