<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Masanori Kawasaki
  </small>
  <nav>
    <ul>
      <li><%= link_to "お問い合わせ", '#' %></li>
      <li><a href="http://news.railstutorial.org/">ニュース</a></li>
    </ul>
  </nav>
</footer>
