<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "天気予報.com", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",    '#' %></li>
        <li><%= link_to "ヘルプ",    '#' %></li>
      </ul>
      </nav>
  </div>
</header>
